streamlit
pypdf
langchain
langchain-community 
langchain-google-vertexai
langchain-google-community
BeautifulSoup4
chromadb
google-cloud-discoveryengine
PyCryptodome
langchain-experimental
sqlalchemy-bigquery
bigframes
anthropic[vertex]
